{% extends "index.html" %}

{% block body_class %}blog-post{% endblock %}

{% block title %}{{ page.title }} &middot; {{ config.title }}{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}

{% block ogtitle %}{{ page.title }}{% endblock ogtitle %}
{% block ogdesc %}{{ page.description }}{% endblock ogdesc %}
{% block ogurl %}{{ page.permalink | safe }}{% endblock ogurl%}
{% block ogimage -%}
  {%- if page.extra.image -%}{{ get_url(path=page.extra.image) | safe }}
  {%- elif config.extra.ogimage -%}{{ get_url(path=config.extra.ogimage) | safe }}
  {%- endif -%}
{%- endblock ogimage %}


{% block content %}
<div class="home-content">
  {% if "blog" in page.components %}
  <a href="/blog" class="back-link">← Blog</a>
  {% elif "books" in page.components %}
  <a href="/books" class="back-link">← Books</a>
  {% else %}
  <a href="/" class="back-link">← Home</a>
  {% endif %}
  <h1>{{ page.title }}</h1>
  {% if "books" in page.components %}
    <p class="date">{{ page.date | date(format="%B %d, %Y") }}</p>
  {% endif %}
  <article class="content">
    {{ page.content | safe }}
  </article>
</div>
{% endblock content %}
